.top-container {
  box-shadow: 0px 6px 6px 0px #090e250a;
  position: fixed;
  width: 100%;

  &.active {
    background: rgba(0, 0, 0, 1); 
    margin-top: -20px;
    z-index: 11;
  }
  & .Sidebar {
    display: none;
  }
  & .ant-dropdown-trigger {
    margin-right: 22px !important;
    &.avatarBadge {
      margin-right: 0 !important;
    }
  }
  & .card-body {
    padding: 10px 60px !important;
  }
  & .searchContainer {
    margin-left: 10px;
    margin-right: auto;
  }
  & .topBar {
    width: 100% !important;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    & .logo {
      max-height: 80px;
      max-width: 80px;
    }
    & .nav {
      margin: 0 auto !important;
    }
    & .notificationsBadge {
      margin-right: 15px;
    }
    & .ant-dropdown-trigger {
      margin-right: 4px;
      margin-left: 7px;
    }
    & .ant-input {
      height: 33px !important;
      max-width: 180px;
      width: 100% !important;
    }
    & .ant-input-affix-wrapper {
      display: flex;
      align-items: center;
      border-radius: 5px;
      height: 35px !important;
      &:hover {
        border: 1px solid #39e489 !important;
      }
    }

    & .nav {
      display: flex;
      justify-content: space-between;
      width: 450px;
      font-size: 15px !important;
      font-style: normal !important;
      font-weight: 500 !important;
      & a {
        color: white !important;
        font-size: 16px;
        transition: all linear 0.3s;
        font-weight: 500;
        &:hover {
          transition: all linear 0.3s;
          transform: scale(1.02);
          font-weight: 600 !important;
        }
        &.active {
          transition: all linear 0.3s;
          font-weight: 700 !important;
          color: #39e489 !important;
        }
      }
    }

    & .notificationsBadge {
      height: 40px;
      width: 50px;
      justify-content: center;
      align-items: center;
      display: flex;
      & .ant-badge-count {
        min-width: 18px !important;
        max-width: 18px !important;
        max-height: 18px !important;
        font-size: 10px !important;
        display: flex;
        color: #132c4a;
        align-items: center;
        justify-content: center;
        background: #39e489;
      }
    }

    & .avatarBadge {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: auto;
      & span {
        font-size: 15px !important;
        font-style: normal !important;
        font-weight: 500 !important;
        color: #262d42 !important;
      }
      & .ant-badge {
        cursor: pointer;
        border-radius: 5px;
      }
    }
  }
}

.ant-modal-header{
  border-bottom: 1px solid #262d42;
}

@media (max-width: 950px) {
  .top-container {
    height: 75px;
    .topBar {
      height: 75px;
    }
    .card-body {
      padding: 0 33px !important;
    }
    & .Sidebar {
      .bgDark {
        position: fixed;
        z-index: -1;
        background: #00000000;
        width: 100%;
        height: 100vh;
        transition: all linear 0.4s;
        top: 0;
        left: 0;
        visibility: hidden;
        &.active {
          visibility: visible;
          z-index: 15;
          display: block;
          transition: all linear 0.4s;
          background: #00000050;
        }
      }
      display: block !important;
      .nav {
        display: flex !important;
        background: #fff;
        position: fixed;
        flex-direction: column;
        justify-content: flex-start;
        padding: 25px;
        width: 250px;
        z-index: 20;
        left: -250px;
        height: 100vh;
        top: 0;
        transition: all 0.4s ease-in-out;
        .logoContainer {
          margin-bottom: 20px;
          margin-top: 15px;
        }
        a {
          width: 100%;
          height: 46px;
          border-radius: 4px;
          margin-top: 10px;
          font-size: 18px !important;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          padding-left: 10px;
          .imgCont {
            width: 19px;
            margin-right: 15px;
          }
          &.active {
            background: #132c4a;
            color: #fff !important;
            img {
              filter: invert(0) !important;
            }
          }
        }
        &.active {
          left: 0;
          transition: all 0.4s ease-in-out;
        }
      }
      img {
        border-radius: 0;
      }
      .menu {
        cursor: pointer;
        img {
          height: 19px;
        }
      }
      hr {
        width: 100%;
        height: 1px;
        background: rgba(24, 24, 24, 0.1);
        margin: 25px 0;
      }
    }
    & .navHugeScreen,
    & .searchContainer,
    & .logo {
      display: none !important;
    }
  }
}
