.home-card {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    height: 680px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    & .container {
        background: rgba(0, 0, 0, 0.7); 
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;

        & .welcome {
            height: 100%;
            color: white !important;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            & h2 {
                color: white !important;
                font-size: 80px;
                margin-bottom: 20px !important;
            }

            & span {
                font-size: 25px;
            }
        }
    }
}
@media (max-width: 950px) {
    .welcome {
        & h2 {
            font-size: 60px !important;
        }

        & span {
            font-size: 22px !important;
        }
    }
  }