


         .ant-dropdown-menu-item {
            min-height: 20px;
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #222222;

            &:hover {
                background-color: rgba(34,34,34,0.25);
            }

            & a {
                color: #222222 !important;
                font-size: 15px;
            }
        }
