.gallery-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;

    & .row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;

        & img {
            max-width: 300px;
            max-height: 340px;
            border-radius: 4px;
            filter:  brightness(105%) contrast(106%) grayscale(0%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(90%) sepia(0%);
            mix-blend-mode: none;
        }
    }

    & .row-1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 10px;
        margin-top: 10px;

        & img {
            width: 300px !important;
            height: 300px !important;
            border-radius: 4px;
            filter:  brightness(105%) contrast(106%) grayscale(0%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(90%) sepia(0%);
            mix-blend-mode: none;
        }
    }

    & .row-2 {
        display: flex;
        padding: 40px 60px;

        & .title {
            color: rgb(255, 218, 63);
        }
    }
    & .row-3 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 10px;
        margin-top: 10px;

        & img {
            height: 290px !important;
            border-radius: 4px;
            filter:  brightness(105%) contrast(106%) grayscale(0%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(90%) sepia(0%);
            mix-blend-mode: none;
        }
    }
    & .row-4 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 10px;
            margin-top: 10px;
    
            & img {
                border-radius: 4px;
                filter:  brightness(105%) contrast(106%) grayscale(0%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(90%) sepia(0%);
                mix-blend-mode: none;
            }
        }
}