.contact-form {
    width: 100%;
    padding: 60px 0 60px 0;

    & .request {
        color: #ffda53;
        font-size: 33px;
    }

    & .global-container {
        width: 100%;
        display: flex;

    & .form-container {
        width: 50%;
        margin-top: 20px;

        & .ant-input {
            height: 40px;
            border-radius: 3px;

            &:hover {
                border-color: rgb(30, 81, 123);
            }
            &:focus {
                border-color: rgb(30, 81, 123);
                box-shadow: 0 0 0 2px rgb(30 81 12 / 20%);
            }
        }

        & .ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
            color: #222222 !important
        }

        & textarea {
            height: 200px !important;
            margin-bottom: 16px;
        }
        & .ant-btn {
            background-color: transparent;
            border-radius: 4px;
            border: 1px solid #222222;
            color: #222222;
            font-size: 18px;
            height: 40px;
            width: 200px;
            transition: all 600ms ease;
            float: right
        }
        & button:hover {
            background: #222222;
            color: white;
        }
    }

    & .image-container {

        width: 50%;
        margin-top: 20px;
        display: flex;
        justify-content: flex-end;
        & .container {
            width: fit-content;
            height: 360px !important;
            border-radius: 2px;
            box-shadow: 1px 3px 5px 1px rgba(34,34,34,0.75);
            margin-top: 25px;

            & img {
                border-radius: 2px;
                max-width: 530px !important;
                max-height: 360px !important;
            }
        }
    }
    }
}